* {
  padding: 0px;
  margin: 0px;
  border: none;
  --active-color: #00a2e7;
  --active-color-a: #0390cd;
  --base-color: #d9d9d9;
  --base-color-a: #c2c2c2;
  --cancle-color: #0e0404;
  --bg-color: #eeeeee;
  --font-color: #eeeeee;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: default;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}

.order_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  min-width: 150px;
  min-height: 300px;
  padding: 30px 20px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 30px;
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}
.form_logo {
  max-width: 150px;
  max-height: 30px;
}
.form_logo {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.form_logo img {
  height: 100%;
  width: auto;
}
input {
  padding: 7px 18px;
  width: 100%;
  cursor: pointer;
}
label {
  cursor: default;
  margin-left: 10px;
}
label {
  user-select: none;
}
.form_item {
  margin-bottom: 4px;
  margin-top: 15px;
}
.form_input {
  transition: 0.3s;
  width: 100%;

  border: 3px solid var(--base-color);
  border-radius: 15px;
}
.form_input:hover,
.form_input:focus-within {
  border-color: var(--active-color);
}
.form_buttons {
  margin-top: 25px;
  min-width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.btn {
  background-color: var(--base-color);
  color: var(--font-color);
  margin-left: 32px;
  border: none;
  outline: none;
  border-radius: 24px;
  padding: 7px 18px;
  cursor: default;
  transition: 0.3s;
}
.btn-active {
  cursor: pointer;
  background-color: var(--active-color);
}
.btn-active:hover,
.btn-active:focus {
  background-color: var(--active-color-a);
}
.form_close_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #ff6767;
  min-width: 30px;
  min-height: 30px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.form_close_btn:hover {
  background-color: #f44545;
}
.input_hint {
  padding-left: 10px;
  color: #f44545;
  margin-top: 6px;
  font-size: 10px;
}
